body {
    background-image: url("imagenes/villareal.png");
}

#h1{
    text-align: center;
}

#p{
    border: 1px black;
    background-color: #D5B815;
    border-radius: 3px;
    
    margin: 2px;
    padding-right: 10px;
    overflow-wrap: break-word;
}

#divchat{
    height: 600px;

    display: flex;
    flex-direction: column;

    margin-left: 20%;
    margin-right: 20%;

    color:black;
    
    border-style: solid;
    border-width: 5px;
    border-color:white;

    background: black;

    overflow-y: scroll;
    overflow-x: hidden;
}

#divbuscarenviar{
    display: flex;
    justify-content: center;

    margin-left: 20%;
    margin-right: 20%;

    border-style: solid;
    border-top: 0;
    border-width: 5px;
    border-color:white;

    background-color: black;
}